//- type: text, number

mixin inputComponent({ className = '', type = 'text', size = 'middle', placeholder = '', icon, title, button, number, min = '', max = '' })
  .input
    if icon
      .input-icon(class=`${className} ${size}`)
        img(src=`${icon}`, alt="")
        input(type=`${type}` placeholder=`${placeholder}`).input-icon-control
    else if button
      .input-btn(class=`${size} ${className}`)
        button(class=`${className}`)= title
        input(type=`${type}` placeholder=`${placeholder}`).input-text
    else if number
      .input-number(class=`${size} ${className}`)
        input(type=`${type}` id='quantity' name='quantity' min=`${min}` max=`${max}`)
    else 
      input(class=`${className} ${size}` type=`${type}` placeholder=`${placeholder}`).input-component

